### Pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('Used_Bikes.csv')

In [4]:
df

                                  bike_name     price  ...  power          brand
0        TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1               Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                      Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                      TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4      Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha
...                                     ...       ...  ...    ...            ...
32643                Hero Passion Pro 100cc   39000.0  ...  100.0           Hero
32644                  TVS Apache RTR 180cc   30000.0  ...  180.0            TVS
32645              Bajaj Avenger Street 220   60000.0  ...  220.0          Bajaj
32646             Hero Super Splendor 125cc   15600.0  ...  125.0           Hero
32647                    Bajaj Pulsar 150cc   22000.0  ...  150.0          Bajaj

[32648 rows x 8 columns]

In [5]:
dataset_path=r"C:\Users\kumaw\OneDrive\Desktop\1 may data science\Stip_data-science-1st-may-\pandas\Used_Bikes.csv"

In [6]:
# df=pd.read_csv(dataset_path)

In [7]:
df

                                  bike_name     price  ...  power          brand
0        TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1               Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                      Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                      TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4      Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha
...                                     ...       ...  ...    ...            ...
32643                Hero Passion Pro 100cc   39000.0  ...  100.0           Hero
32644                  TVS Apache RTR 180cc   30000.0  ...  180.0            TVS
32645              Bajaj Avenger Street 220   60000.0  ...  220.0          Bajaj
32646             Hero Super Splendor 125cc   15600.0  ...  125.0           Hero
32647                    Bajaj Pulsar 150cc   22000.0  ...  150.0          Bajaj

[32648 rows x 8 columns]

In [8]:
df.head() # top 5 rows

                              bike_name     price  ...  power          brand
0    TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1           Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                  Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                  TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha

[5 rows x 8 columns]

In [9]:
df.tail() # bottom 5 rows

                       bike_name    price    city  ...   age  power  brand
32643     Hero Passion Pro 100cc  39000.0   Delhi  ...   4.0  100.0   Hero
32644       TVS Apache RTR 180cc  30000.0  Karnal  ...   9.0  180.0    TVS
32645   Bajaj Avenger Street 220  60000.0   Delhi  ...   6.0  220.0  Bajaj
32646  Hero Super Splendor 125cc  15600.0  Jaipur  ...  16.0  125.0   Hero
32647         Bajaj Pulsar 150cc  22000.0    Pune  ...  13.0  150.0  Bajaj

[5 rows x 8 columns]

In [10]:
df.info() # info about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [11]:
df.describe() # summary of data

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

In [12]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(25324)

In [14]:
32648-25324

7324

In [15]:
df.drop_duplicates(inplace=True) # drop duplicates

In [16]:
df.duplicated().sum()

np.int64(0)

In [17]:
print("unique values:-",df['bike_name'].unique())
print("number of unique values:-",df['bike_name'].nunique())

unique values:- ['TVS Star City Plus Dual Tone 110cc' 'Royal Enfield Classic 350cc'
 'Triumph Daytona 675R' 'TVS Apache RTR 180cc'
 'Yamaha FZ S V 2.0 150cc-Ltd. Edition' 'Yamaha FZs 150cc'
 'Honda CB Hornet 160R  ABS DLX' 'Hero Splendor Plus Self Alloy 100cc'
 'Royal Enfield Thunderbird X 350cc'
 'Royal Enfield Classic Desert Storm 500cc' 'Yamaha YZF-R15 2.0 150cc'
 'Yamaha FZ25 250cc' 'Bajaj Pulsar NS200' 'Bajaj Discover 100M'
 'Bajaj Discover 125M' 'Bajaj Pulsar NS200 ABS' 'Bajaj Pulsar RS200 ABS'
 'Suzuki Gixxer SF 150cc' 'Benelli 302R 300CC'
 'Hero Splendor iSmart Plus IBS 110cc'
 'Royal Enfield Classic Chrome 500cc' 'Yamaha FZ V 2.0 150cc'
 'Hero Super Splendor 125cc' 'Honda CBF Stunner 125cc'
 'Bajaj Pulsar 150cc' 'Honda X-Blade 160CC ABS' 'Bajaj Avenger 220cc'
 'KTM RC 390cc' 'Honda CB Unicorn 150cc' 'KTM Duke 200cc'
 'Honda CBR 150R 150cc' 'Royal Enfield Thunderbird X 500cc'
 'KTM RC 200cc ABS' 'Royal Enfield Thunderbird 350cc'
 'Royal Enfield Bullet Electra 350cc' 'Bajaj Avenger Street 220 ABS'
 'Mahindra Centuro NXT 110cc' 'Hero Hunk 150cc'
 'Suzuki Gixxer SF Fi 150cc SP ABS' 'Yamaha FZ 150cc'
 'Royal Enfield\u200e Bullet 350cc' 'TVS Apache RTR 160cc'
 'Honda CB Shine 125cc' 'Benelli TNT 600i ABS' 'Honda Dream Yuga 110cc'
 'Yamaha SZ 150cc' 'Suzuki Gixxer 150cc' 'Bajaj Avenger Cruise 220'
 'Kawasaki Z900' 'Bajaj Pulsar 220cc' 'Hero CD Deluxe 100cc'
 'Kawasaki Ninja 650cc' 'Bajaj Platina 125cc' 'Hero Karizma ZMR 223cc'
 'Bajaj Pulsar 180cc' 'Yamaha FZ25 ABS 250cc' 'Bajaj CT 100 100cc'
 'Royal Enfield Interceptor 650cc' 'KTM Duke 250cc'
 'Royal Enfield Himalayan 410cc' 'Bajaj Pulsar 135LS' 'Bajaj Pulsar 220F'
 'Yamaha FZ16 150cc' 'Ducati Scrambler 1100 Special'
 'Triumph Street Triple 765' 'Bajaj V15 150cc'
 'Suzuki Gixxer Fi 150cc ABS' 'Hero Splendor plus 100cc' 'KTM Duke 390cc'
 'Honda CBR 250R' 'Bajaj Pulsar RS200' 'Benelli TNT 600i'
 'Suzuki Gixxer 150cc SP Rear Disc' 'Yamaha FZ S V 2.0 150cc'
 'Royal Enfield Classic 500cc' 'Hyosung GT650R' 'Yamaha YZF-R15 S 150cc'
 'TVS Apache RTR 160 4V Disc' 'Benelli TNT 300' 'Honda CB ShineSP 125cc'
 'Hero Passion Pro 100cc' 'Hero Splendor Plus 100cc' 'Yamaha YZF R6 600cc'
 'Ducati 1299 Superleggera' 'Royal Enfield Electra 350cc'
 'TVS Phoenix Disc 125cc' 'Harley-Davidson Street 750'
 'Royal Enfield Himalayan 410cc Fi ABS' 'Bajaj Discover 150cc'
 'Bajaj Avenger Street 220' 'Royal Enfield Standard 350cc'
 'Honda CB Shine 125cc Disc' 'Honda CB Unicorn ABS 150cc'
 'Yamaha YZF-R15 V3 150cc' 'Bajaj Pulsar NS 200' 'Bajaj Dominar 400'
 'Honda X-Blade 160cc' 'Suzuki Hayabusa 1300cc' 'Ducati Monster 821 Dark'
 'Yamaha FZ S V 2.0 150cc Rear Disc'
 'Suzuki Gixxer SF 150cc Special MOTOGP Edition Rear Disc' 'KTM RC 200cc'
 'Bajaj Discover 125ST' 'Hero Splendor Plus Kick Alloy 100cc'
 'Hero Karizma 223cc' 'Hero Splendor 100cc' 'Ducati 1198 SP 1198cc'
 'Royal Enfield Bullet 500cc' 'Yamaha Fazer 150cc'
 'Yamaha Gladiator 125cc' 'Hero Karizma R 223cc'
 'Harley-Davidson Iron 883' 'TVS Apache RTR 200 4V Fi'
 'TVS Apache RTR 160 4V DISC ABS BS6' 'Bajaj Dominar 400 ABS'
 'Royal Enfield Classic Gunmetal Grey 350cc'
 'Hero HF Deluxe i3s iBS 100cc' 'Suzuki Gixxer SF Fi 150cc ABS'
 'Hero Splendor iSmart 110cc' 'Bajaj Platina 100cc'
 'TVS Apache RTR 200 4V FI' 'Royal Enfield Bullet Twinspark 350cc'
 'TVS Star City 110cc' 'Bajaj Platina  Alloy ES-100cc'
 'Ducati Panigale 959' 'Royal Enfield Classic 350cc-Redditch Edition'
 'TVS Sport 100cc' 'Bajaj Pulsar AS200'
 'Royal Enfield Classic Desert Storm 500cc Dual Disc' 'Honda Livo 110cc'
 'Suzuki Gixxer SF 150cc SP Rear Disc' 'Yamaha SZ-RR 150cc'
 'Royal Enfield Thunderbird 500cc'
 'Royal Enfield Bullet Electra Twinspark 350cc' 'Bajaj Discover 150F Disc'
 'Yamaha Saluto 125cc Disc Special Edition'
 'Triumph Street Triple ABS 675cc' 'Honda CBR 250R ABS'
 'Hyosung Aquila GV250' 'Jawa Forty Two 295CC' 'Bajaj V12 125cc'
 'Bajaj V12 125cc Disc' 'Yamaha Fazer 25 250cc' 'Hero Xpulse 200T'
 'Honda CB Hornet 160R CBS' 'Suzuki Gixxer 150cc SP ABS'
 'Hero Passion Xpro 110cc' 'Yamaha YZF-R3 320cc ABS'
 'Royal Enfield Bullet 350 cc' 'Hero HF Deluxe 100cc'
 'Honda CB Twister 110cc' 'Bajaj Pulsar 125cc Disc CBS'
 'Honda CB Shine 125cc Drum BS6' 'Honda CB Hornet 160R STD'
 'Honda Dream Neo 110cc' 'BMW G 310 R' 'Bajaj Pulsar AS150'
 'Kawasaki Ninja 250cc' 'Benelli TNT 899' 'Indian Chief Classic 1800cc'
 'Hero Achiever 150cc' 'TVS Apache 150cc' 'Kawasaki ER-6n 650cc'
 'Hero HF Deluxe Self 100cc' 'Bajaj Pulsar NS160'
 'Royal Enfield Classic Gunmetal Grey 350cc ABS' 'Suzuki Intruder 150cc'
 'TVS Apache RTR 200 4V ABS Race Edition' 'Bajaj CT 100 B'
 'Hero Passion Pro 110cc Drum' 'Yamaha YZF-R15 150cc'
 'TVS Apache RTR 160 4V DISC ABS' 'Mahindra Mojo 300cc'
 'TVS Apache RTR 200 4V Carburetor' 'Hero Ignitor Disc 125cc'
 'Bajaj Avenger Street 150' 'Royal Enfield Continental GT 535cc'
 'Hero Glamour Disc 125cc' 'Suzuki Gixxer SF Fi 150cc'
 'Hero HF Dawn 100cc' 'Suzuki Slingshot Plus 125cc'
 'Mahindra Centuro Rockstar 110cc' 'Mahindra Centuro 110cc'
 'Honda CB Hornet 160R Special Edition STD'
 'Harley-Davidson Street Rod XG750A ABS'
 'Hero Splendor Plus IBS i3S 100cc' 'Bajaj Discover 135cc'
 'Bajaj Discover 125cc' 'TVS Apache RTR 160 4V DRUM ABS'
 'Honda CB Unicorn 160 CBS' 'KTM Duke 125cc' 'Bajaj Boxer BM150'
 'Hero Glamour 125cc' 'Bajaj Discover 100cc' 'Bajaj Avenger Street 180'
 'TVS Star City Plus 110cc' 'Honda CB Trigger 150cc'
 'Kawasaki Ninja 650 KRT Edition' 'Bajaj Platina 100cc ComforTec Alloy'
 'Benelli TNT R 1130cc' 'Honda CB Unicorn Dazzler 150cc'
 'Benelli TNT 600 GT' 'Hyosung GT250R' 'Yamaha YZF-R1 1000cc'
 'Hero Xtreme 200R' 'Ducati Diavel 1200cc' 'Triumph Speed Triple 1050cc'
 'Indian Scout Bobber 1130cc' 'Bajaj V15 150cc POWER UP'
 'Jawa Standard 295CC' 'Yamaha SZR 150cc' 'TVS Star Sport 100cc'
 'Hyosung Aquila 250 250cc' 'Kawasaki Z650' 'Hero CD Dawn 100cc'
 'TVS Apache RTR 200 4V ABS' 'Hero Passion 100cc'
 'Suzuki Intruder SP 150cc' 'Yamaha YZF-R3 320cc' 'TVS Apache RR310'
 'Hero Passion Plus 100cc'
 'Royal Enfield Classic 350cc-Redditch Edition Dual Disc' 'Hero CBZ 150cc'
 'Yamaha FZS FI 150cc' 'Honda CB Unicorn 160 STD' 'Suzuki GS 150 R 150cc'
 'Royal Enfield Machismo 500cc' 'Hero CBZ Xtreme 150cc'
 'Yamaha SZ RR V 2.0 150cc' 'TVS Apache RTR 180cc ABS'
 'Hero Honda Splendor 100cc' 'Honda CBR 150R Deluxe' 'Hero Ignitor 125cc'
 'Bajaj Pulsar 200cc' 'Kawasaki Ninja 300cc' 'Kawasaki Ninja 300 ABS'
 'Bajaj Pulsar 150cc Rear Disc' 'Hero Splendor NXG 100cc'
 'Hero Achiever Disc 150cc'
 'TVS Apache RTR 200 4V Carburetor Race Edition 2.0'
 'Royal Enfield Thunderbird 350cc ABS' 'Harley-Davidson Street 750 ABS'
 'Bajaj Pulsar 150cc Rear Disc ABS' 'KTM Duke 250cc ABS'
 'Bajaj Pulsar 200 NS 200cc' 'Mahindra Mojo Tourer Edition 300cc'
 'Hero Passion Pro i3S Alloy 100cc'
 'Royal Enfield Thunderbird X 350cc ABS' 'Hero Xtreme 150cc'
 'Bajaj Boxer CT100' 'Royal Enfield Bullet 350cc'
 'Royal Enfield Standard 500cc' 'Hyosung Aquila Pro GV650'
 'Royal Enfield Classic 500cc Dual Disc' 'Suzuki V-Strom 1000cc'
 'KTM RC 125CC' 'Suzuki Gixxer SF 250cc ABS' 'Harley-Davidson 1200 Custom'
 'Honda Dream Yuga 110cc CBS' 'Hero Splendor Pro 100cc'
 'Suzuki Hayate 110cc' 'Yamaha Fazer FI V 2.0 150cc'
 'TVS Victor 110cc Disc' 'Royal Enfield Classic Stealth Black 500cc'
 'TVS Apache RTR 200 4V Dual Channel ABS BS6' 'Honda CB Shine 125cc CBS'
 'Honda Livo Disc 110cc' 'Bajaj Discover 110cc'
 'Suzuki Gixxer SF 150cc ABS' 'Hero CD 100SS'
 'Hero Honda Splendor Plus 100cc' 'Bajaj Discover 100T'
 'Hero HF Deluxe self Alloy 100cc' 'Benelli TNT 25 250cc'
 'Yamaha MT-15 150cc' 'Yamaha FZS FI 150cc Rear Disc'
 'TVS Apache RTR 200 4V Carburetor Pirelli Tyres' 'Triumph Tiger 800 XRX'
 'Ducati XDiavel 1262CC S' 'TVS Suzuki Shogun 110cc'
 'Bajaj Discover 125cc Disc' 'Triumph Thunderbird Storm 1700cc'
 'Suzuki GSX-S750' 'TVS Flame 125cc' 'Triumph Tiger 800 XCA'
 'Royal Enfield Machismo 350cc' 'TVS Victor 110cc' 'Honda CBR650R'
 'Hero Xpulse 200cc FI' 'Hero HF Deluxe i3s 100cc'
 'TVS Apache RTR 160cc Matt Red Rear Disc' 'Rajdoot GTX 175cc'
 'Hero Xtreme 200R ABS' 'Honda CB Unicorn 160'
 'Honda CB Hornet 160R Special Edition-CBS'
 'TVS Apache RTR 200 4V Carburetor Pirelli Tyres Race Edition 2.0'
 'TVS Apache RR310 Slipper Clutch' 'Mahindra Mojo UT300'
 'Royal Enfield Bullet Twinspark Kickstart 350cc' 'Bajaj Pulsar  180cc'
 'Honda CD 110 Dream' 'Royal Enfield Bullet Twinspark 500cc'
 'Hero Xtreme Sports Rear Disc 150cc' 'Bajaj CT 100 ES Alloy'
 'Bajaj  Pulsar 180cc' 'Bajaj Discover 150F' 'Hyosung GT 650N'
 'Triumph Street Twin 900cc' 'Bajaj CT 100 Alloy'
 'TVS Apache RTR 160 4V Drum' 'Yamaha SZ RR V 2.0 150cc Limited Edition'
 'Yamaha YZF-R1M 1000cc' 'Hero Glamour i3s 125cc'
 'Harley-Davidson Roadster XL 1200CX' 'Triumph Tiger 800 XR'
 'KTM Duke 200cc ABS' 'Honda CBR1000RR Fireblade' 'Honda SP125 Disc BS6'
 'Bajaj Platina 110 H Gear Disc' 'Hero Splendor Plus 100 cc'
 'Honda CBR 250R Repsol' 'Triumph Bonneville T100 865cc'
 'Yamaha RX135 135cc 4-Speed' 'Benelli 302R' 'Hero Splendor iSmart 100cc'
 'Royal Enfield Classic 350cc Dual Disc' 'Honda CB 1000R'
 'Honda CBR 600RR' 'Ducati Monster 797' 'Ducati Monster 1200'
 'Suzuki GSX-R 1000cc' 'Ducati Monster 796 Corse Stripe'
 'TVS Victor 110cc Disc SBT' 'Honda CB ShineSP 125cc CBS Disc'
 'Kawasaki Z250' 'Royal Enfield Classic Squadron Blue 500cc'
 'Suzuki Gixxer 150cc Dual Tone Rear Disc' 'TVS Apache RTR 200 4V'
 'Honda Livo Disc 110cc CBS' 'TVS Apache RTR 160cc Rear Disc'
 'Yamaha FZ S V 3.0 150cc' 'BMW G 310 GS'
 'Royal Enfield Classic 350cc Signals Edition'
 'Royal Enfield Bullet Electra Twinspark 350cc Double Disc'
 'Honda CB Hornet 160R 160cc STD' 'Suzuki Intruder 150cc FI'
 'Bajaj Platina 110 CBS' 'Hero Xtreme Sports 150cc'
 'Bajaj Avenger Cruise 220 ABS' 'Honda CB Hornet 160R 160cc STD SP'
 'Kawasaki Versys 650cc' 'Ducati Multistrada 1200 Enduro'
 'Hero Passion Pro i3S Alloy 100cc IBS' 'Hero Xtreme Sports 149cc'
 'TVS Apache RTR 160 4V Carburetor' 'Triumph Thruxton R 1200cc'
 'Honda CD 110 Dream DX' 'BMW S 1000 XR Pro' 'Honda CB ShineSP 125cc Disc'
 'Hero HF Deluxe Eco 100cc' 'Bajaj XCD 125' 'Honda CB ShineSP 125cc CBS'
 'Bajaj CT110 ES Alloy' 'TVS Apache RTR 160 4V FI'
 'Triumph Bonneville T100 900cc' 'Bajaj Avenger Street 160 ABS'
 'TVS Apache RTR 160cc White Race Edition Rear Disc'
 'Royal Enfield Himalayan 410cc Sleet Edition' 'Hero Splendor+ 100cc'
 'Suzuki Gixxer SF 150cc Rear Disc'
 'TVS Apache RTR 160 4V Carburetor With Rear Disc' 'Suzuki Heat 125cc'
 'Honda CB Hornet 160R  ABS STD' 'Yamaha Fazer25 250cc'
 'Bajaj Pulsar NS160 Rear Disc' 'Honda CB Hornet 160R'
 'Bajaj Discover150 150cc' 'Bajaj Discover 125T'
 'Bajaj Pulsar 150cc Classic' 'Yamaha Saluto 125cc'
 'Hero Passion XPRO 110 cc' 'Yamaha FZS FI 150cc Special Edition'
 'TVS Fiero 150cc' 'Mahindra Mojo XT300' 'Bajaj Platina Alloy ES 100cc'
 'TVS Jive 110cc' 'Bajaj Boxer AT100' 'Bajaj Discover 150S Disc'
 'TVS Radeon 110cc Drum SBT' 'Honda CD 110 Dream Self'
 'Suzuki Gixxer 150cc ABS' 'Suzuki Hayate EP 110cc' 'Yamaha SZX 150cc'
 'Hero CBZ Star 160cc' 'Hero Passion PRO  100 cc'
 'Hero Passion Pro i3S Disc 100cc' 'Bajaj Avenger 200cc'
 'Hero Honda Ambition 135cc' 'Bajaj Pulsar 135LS 135cc'
 'Bajaj CT 100 KS Alloy' 'BMW S 1000 RR Pro' 'Kawasaki Versys 1000'
 'Honda CB Unicorn 150 150cc' 'Kawasaki Z800' 'Hero Glamour PGM Fi 125cc'
 'Royal Enfield Continental GT 650cc' 'LML Freedom DX 110cc'
 'Harley-Davidson XG750 750cc' 'Yezdi Classic 250cc'
 'Hero Passion Pro 100cc Drum Alloy' 'TVS Star 100cc' 'Bajaj XCD 135'
 'Bajaj Avenger 150cc' 'Hero HF Deluxe 100 cc' 'Yamaha Fazer FI 150cc'
 'TVS Apache RTR 200 4V FI Race Edition 2.0' 'Yamaha FZ V 3.0 150cc'
 'Hero Super Splendor 125cc i3s' 'Yamaha SS 125 125cc'
 'Suzuki Gixxer SF 150cc Special MOTOGP Edition' 'TVS Victor GX 110cc'
 'TVS Apache RTR 200 4V Race Edition 2.0' 'Hero Passion Pro TR 100cc'
 'Honda CBR 650 F' 'Yamaha FZ S V 3.0 150cc ABS Dark Knight BS VI'
 'Hero HF Deluxe Self Spoke 100cc' 'TVS Sports plus ES 100cc'
 'BMW F750 GS 850cc' 'Royal Enfield Bullet Electra Twinspark 350CC ABS'
 'Hero Glamour Fi 125cc' 'Royal Enfield Himalayan 410cc Sleet ABS'
 'Bajaj Pulsar NS 200cc' 'Yamaha YBR 110cc' 'Bajaj CT 100 Spoke'
 'Yamaha Crux 110cc' 'Yamaha Saluto RX 110cc' 'MV Agusta Brutale 1090'
 'Royal Enfield Himalayan 410cc Fi' 'MV Agusta F3 800cc'
 'Kawasaki Ninja 400' 'Benelli TRK 502X' 'TVS Phoenix 125cc'
 'Harley-Davidson Fat Bob 107 Ci'
 'TVS Apache RTR 160cc White Race Edition' 'Ideal Jawa Yezdi CL-II 250 cc'
 'Hero Splendor Pro Classic 100cc' 'Yamaha FZ Fi Version 2.0 150cc'
 'Yamaha SZS 150cc' 'Triumph Daytona 675 ABS'
 'Royal Enfield Classic Chrome 500cc ABS' 'Harley-Davidson Sportster 883'
 'Suzuki Zeus 125cc' 'Yamaha Saluto 125cc-Special Edition'
 'Bajaj Avenger 180cc' 'Bajaj Pulsar 150cc Neon' 'Kawasaki Z1000'
 'Hero CBZ Xtreme 150 cc' 'Kawasaki Vulcan S 650cc' 'Yamaha RX-Z 135cc'
 'Yamaha Libero G5 110cc' 'Bajaj Pulsar RS200  ABS-200cc'
 'Bajaj Discover150S 150cc' 'Hero i Smart 125cc'
 'Hero Splendor Plus  100 cc' 'Hero Splendor Plus 100 CC'
 'Hero Karizma 223 cc' 'TVS MAX 4R 110cc' 'Mahindra Pantero 110cc'
 'Hero Ambition 135cc' 'Honda CBR 250R Repsol ABS'
 'Hero Hunk Rear Disc 150cc']
number of unique values:- 471

In [18]:
print("unique values of brand :-",df['brand'].unique())
print("total unique values of brand :-",df['brand'].nunique())

unique values of brand :- ['TVS' 'Royal Enfield' 'Triumph' 'Yamaha' 'Honda' 'Hero' 'Bajaj' 'Suzuki'
 'Benelli' 'KTM' 'Mahindra' 'Kawasaki' 'Ducati' 'Hyosung'
 'Harley-Davidson' 'Jawa' 'BMW' 'Indian' 'Rajdoot' 'LML' 'Yezdi' 'MV'
 'Ideal']
total unique values of brand :- 23

In [19]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [20]:
df['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [21]:
# two part data set 
# price and baki ke columns alg liye

In [22]:
df =df.drop(['city','bike_name'],axis=1) # drop columns

In [23]:
df

         price  kms_driven        owner  age  power            brand
0      35000.0     17654.0  First Owner  3.0  110.0              TVS
1     119900.0     11000.0  First Owner  4.0  350.0    Royal Enfield
2     600000.0       110.0  First Owner  8.0  675.0          Triumph
3      65000.0     16329.0  First Owner  4.0  180.0              TVS
4      80000.0     10000.0  First Owner  3.0  150.0           Yamaha
...        ...         ...          ...  ...    ...              ...
9362   25000.0     48587.0  First Owner  8.0  150.0             Hero
9369   35000.0     60000.0  First Owner  9.0  220.0            Bajaj
9370  450000.0      3430.0  First Owner  4.0  750.0  Harley-Davidson
9371  139000.0     21300.0  First Owner  4.0  400.0            Bajaj
9372   80000.0      7127.0  First Owner  5.0  220.0            Bajaj

[7324 rows x 6 columns]

In [24]:
cat_cols=df.select_dtypes(include='object')

In [25]:
cat_cols

            owner            brand
0     First Owner              TVS
1     First Owner    Royal Enfield
2     First Owner          Triumph
3     First Owner              TVS
4     First Owner           Yamaha
...           ...              ...
9362  First Owner             Hero
9369  First Owner            Bajaj
9370  First Owner  Harley-Davidson
9371  First Owner            Bajaj
9372  First Owner            Bajaj

[7324 rows x 2 columns]

In [26]:
num_cols=df.select_dtypes(exclude='object')

In [27]:
num_cols

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [28]:
cat_cols['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [29]:
ower_dict={'First Owner':0,'Second Owner':1,'Third Owner':2,'Fourth Owner Or More':3}

In [30]:
ower_dict

{'First Owner': 0,
 'Second Owner': 1,
 'Third Owner': 2,
 'Fourth Owner Or More': 3}

In [31]:
cat_cols['owner']=cat_cols['owner'].map(ower_dict)

In [32]:
cat_cols['owner'].unique()

array([0, 1, 2, 3])

In [33]:
cat_cols['brand'].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [34]:
brand_dict ={'TVS':0, 'Royal Enfield':1, 'Triumph':2, 'Yamaha':3, 'Honda':4, 'Hero':5,
       'Bajaj':6, 'Suzuki':7, 'Benelli':8, 'KTM':9, 'Mahindra':10, 'Kawasaki':11,
       'Ducati':12, 'Hyosung':13, 'Harley-Davidson':14, 'Jawa':15, 'BMW':16, 'Indian':17,
       'Rajdoot':18, 'LML':19, 'Yezdi':20, 'MV':21, 'Ideal':22}

In [35]:
cat_cols['brand']=cat_cols['brand'].map(brand_dict)

In [36]:
cat_cols

      owner  brand
0         0      0
1         0      1
2         0      2
3         0      0
4         0      3
...     ...    ...
9362      0      5
9369      0      6
9370      0     14
9371      0      6
9372      0      6

[7324 rows x 2 columns]

In [37]:
complete_df =pd.concat([cat_cols,num_cols],axis=1)

In [38]:
complete_df

      owner  brand     price  kms_driven  age  power
0         0      0   35000.0     17654.0  3.0  110.0
1         0      1  119900.0     11000.0  4.0  350.0
2         0      2  600000.0       110.0  8.0  675.0
3         0      0   65000.0     16329.0  4.0  180.0
4         0      3   80000.0     10000.0  3.0  150.0
...     ...    ...       ...         ...  ...    ...
9362      0      5   25000.0     48587.0  8.0  150.0
9369      0      6   35000.0     60000.0  9.0  220.0
9370      0     14  450000.0      3430.0  4.0  750.0
9371      0      6  139000.0     21300.0  4.0  400.0
9372      0      6   80000.0      7127.0  5.0  220.0

[7324 rows x 6 columns]

In [39]:
x =complete_df.drop('price', axis=1)
y =complete_df[['price']]

In [40]:
x   ###>>>>>>>>>>>>>>>>.. independent variables

      owner  brand  kms_driven  age  power
0         0      0     17654.0  3.0  110.0
1         0      1     11000.0  4.0  350.0
2         0      2       110.0  8.0  675.0
3         0      0     16329.0  4.0  180.0
4         0      3     10000.0  3.0  150.0
...     ...    ...         ...  ...    ...
9362      0      5     48587.0  8.0  150.0
9369      0      6     60000.0  9.0  220.0
9370      0     14      3430.0  4.0  750.0
9371      0      6     21300.0  4.0  400.0
9372      0      6      7127.0  5.0  220.0

[7324 rows x 5 columns]

In [41]:
y   ## dependent variables

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7324 rows x 1 columns]

In [42]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [43]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((5859, 5), (1465, 5), (5859, 1), (1465, 1))

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
lr =LinearRegression()

In [46]:
lr.fit(x_train,y_train)

LinearRegression()

In [47]:
lr.score(x_test,y_test)

0.7530846908957206

In [48]:
lr.score(x_train,y_train)

0.7104324344011279